dist/
*.pyc
*.egg-info
venv/
__pycache__
.tox
.coverage
.idea/
htmlcov/
coverage-all.txt
*.zip

# ignore packaging and lambda deps
terraform/mesh_aws/mesh_aws_client/*
terraform/mesh_aws/mesh_aws_client_dependencies/*

### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Don't commit the lock file, as we're just commiting modules
.terraform.lock.hcl
